$primary: #0052cc;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$shadow-color: #8e91ff33;
$elevation-penumbra: rgba($shadow-color, 0.06);
$elevation-ambient: rgba($shadow-color, 0.08);

$blue-grey-1: rgba(9, 30, 66, 0.04);
$blue-grey-2: rgba(3, 39, 94, 0.07);

.q-dialog__backdrop {
  background: #02134485 !important;
}
